@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:wght@300&display=swap');

  :root, [data-theme='blue'] {
    --primary-color: #547cf2;
    --bg--color: #e5e5f7;
    --secondary--color: #becbf16e;
    --bg1--color: #becbf1;
    --grad--color: #b8c9fd;
  }

  [data-theme='orange'] {
    --primary-color: #d59515;
    --bg--color: #d8d1b5;
    --secondary--color: #f1e1be6e;
    --bg1--color: #f1eebe;
    --grad--color: #fdf5b8;
  }

  [data-theme='green'] {
    --primary-color: #2db01e;
    --bg--color: #bed8c0;
    --secondary--color: #cbf1be6e;
    --bg1--color: #c9f1be;
    --grad--color: #8ef3cc;
  }


  h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: var(--primary-color);
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  
  h1 span {
    display: block;
    font-size: 0.5em;
    line-height: 1.3;
  }
  h1 em {
    font-style: normal;
    font-weight: 600;
  }
  
  header h1 {
    position:relative; 
    font-size:22px; 
    font-weight:700;  
    letter-spacing:2px; 
    text-transform:uppercase; 
    width:550px; 
    text-align:center; 
    margin:auto; 
    white-space:nowrap; 
    border:2px solid #12035d;
    background-color: var(--bg1--color);
    padding:20px 11px 20px 11px;
    border-radius: 10px;
  }

  header h1:before, header h1:after {
      background-color: var(--primary-color);
      position:absolute; 
      content: '';
      height: 15px;
      width: 15px; 
      border-radius:50%;
      bottom: 30px;
  }
  header h1:before {
     left:-30px;
  }
  header h1:after {
     right:-30px;
  }
  
  body {
    background-color: var(--bg--color);
    background-image:  linear-gradient(var(--grad--color) 0.7px, transparent 0.7px), linear-gradient(to right, var(--grad--color) 0.7px, #e5e5f7 0.7px);
    background-size: 25px 25px;
    text-align: center;
  }

  p {
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-weight: 700;
    font-size: 25px;
    margin: 10px 0 0 10px;
  }

  .Flex {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .Teoria {
    width: 60%;
    background-color: var(--secondary--color);
    border-radius: 30px;
    padding: 30px 5px;
  }

  .Calculadora {
    width: 35%;
    background-color: #ffffff7c;
    border-radius: 30px;
    padding: 30px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .Formula {
    width: 40%;
    margin: 15px 0;
    padding: 10px;
    border: 2px solid #12035d;
    border-radius: 10px;
    background-color: #ffffff2d;
  }
  .Formula1 {
    width: 20%;
    margin: 15px 0;
    padding: 10px;
    border: 2px solid #12035d;
    border-radius: 10px;
    background-color: #ffffff2d;
  }

  input {
    width: 60%;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 20px;
    border: 2px solid #12035d;
    border-radius: 10px;
    background-color: var(--secondary--color);
    text-align: center;
    transition: 0.2s all ease-in-out;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  }

  input:focus {
    border: 2px solid #ffffff;
    background-color: #454545d6;
    color: white;
  }

  output {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 18px;
    padding: 0 0 0 20px;
  }

  label {
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin-top: 10px;
  }

  button {
    width: 60%;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    font-size: 20px;
    border: 2px solid #12035d;
    margin: 20px;
    border-radius: 10px;
    background-color: var(--primary-color);
    transition: all 300ms ease 0ms;
  }

  button:hover {
    border: 2px solid #051d5fd6;
    background-color: #848484d6;
    transform: translateY(-5px);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    color: #ffffff;
  }

  button:active {
    border: 2px solid #454545d6;
    background-color: #454545d6;
    color: #ffffff;
    transform: scale(1.2);
    
  }

  #Raices {
    width: auto;
    margin: 15px 0;
    padding: 10px;
    border: 2px solid #12035d;
    border-radius: 10px;
    background-color: #506dd32d;
    text-align: center;
  }

  .btn-flotante {
    font-size: 12px; /* Cambiar el tamaño de la tipografia */
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase; /* Texto en mayusculas */
    font-weight: bold; /* Fuente en negrita o bold */
    color: #ffffff; /* Color del texto */
    border-radius: 5px; /* Borde del boton */
    letter-spacing: 1px; /* Espacio entre letras */
    background-color: #000000; /* Color de fondo */
    padding: 18px 30px; /* Relleno del boton */
    position: fixed;
    bottom: 40px;
    right: 40px;
    transition: all 300ms ease 0ms;
    box-shadow: 0px 12px 15px rgba(0, 0, 0, 0.1);
    z-index: 99;
  }
  .btn-flotante:hover {
    background-color: #494949; /* Color de fondo al pasar el cursor */
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-7px);
  }